numpy==1.18.5
fasttext==0.9.2
allennlp==2.1.0
allennlp-models==2.1.0
py2neo==4.3.0
pytest==6.2.3
lemminflect==0.2.2
spacy_nightly==3.0.0rc5
gensim==3.8.1
tqdm==4.62.3
simplenlg==0.2.0
pandas==0.24.2
nltk==3.5
lxml==4.6.2
click==7.0
matplotlib==3.3.4
beautifulsoup4==4.10.0
scikit_learn==1.0.2
spacy==3.0.0
urllib3==1.25.4